@using RazorClassLibrary.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IAccessTokenProvider TokenProvider
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IIdentityService identityService
@inject IConfiguration configuration

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">@identityService.CurrentUserName</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<AuthorizeView>
			<Authorized>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="timesheets">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Timesheets
					</NavLink>
					<div class="nav-item px-3">
						<button class="list-group-item list-group-item-action bg-light"
								@onclick="BeginSignOut">
							<span class="oi oi-list-rich" aria-hidden="true"></span> Log out <br/>
							(@context.User.Identity!.Name)
						</button>
					</div>
@*					<div class="nav-item px-3">
						<button class="list-group-item list-group-item-action bg-light"
								@onclick="WriteToken">
							<span class="oi oi-list-rich" aria-hidden="true"></span> Write token
						</button>
					</div>
*@				</div>
			</Authorized>
			<NotAuthorized>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
						<span class="oi oi-home" aria-hidden="true"></span> Home
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="counter">
						<span class="oi oi-plus" aria-hidden="true"></span> Counter
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="list-group-item list-group-item-action bg-light"
						href="authentication/login">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Log in
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="list-group-item list-group-item-action bg-light"
							 href=@configuration["RegisterUri"]>
						<span class="oi oi-list-rich" aria-hidden="true"></span> Register
					</NavLink>
				</div>
			</NotAuthorized>
		</AuthorizeView>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	private async Task BeginSignOut(MouseEventArgs args)
	{
		await SignOutManager.SetSignOutState();
		Navigation.NavigateTo(configuration["LogoutUri"]);
	}

	private async Task WriteToken()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		if (tokenResult.TryGetToken(out var token))
		{
			System.Diagnostics.Debug.WriteLine(token.Value);
			identityService.Token = token.Value;
		}
	}
}